input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
textarea {
   resize: none;
}

@media (max-width: 559px) {
    .hidden-560 {
        display: none;
    }
    .visible-560 {
        display: block;
    }
}
@media (min-width: 560px) {
    .hidden-560 {
        display: table;
    }
    .visible-560 {
        display: none;
    }
}