.navbar-inverse {
    background-color: rgba(34, 34, 34, 0.6) !important;
}
.img-logo-index {
    position: absolute;
}

@media (max-width: 767px) {
    .img-logo-index {
        width: 60px;
        left: 8%;
    }
    .section1 .btn {
        width: 190px;
        margin: 5px 10px;
    }
    footer hr {
        width: 50%;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .img-logo-index {
        width: 80px;
        left: 3%;
    }
    .section1 {
        padding-top: 25%;
    }
}
@media (min-width: 992px) {
    .img-logo-index {
        width: 120px;
        left: 14%;
    }
    
    .section1 div {
        margin-top: 25px;
    }
    .section2 div {
        padding-top: 15vh;
    }
    .section3 h2 {
        padding-top: 30vh;
    }
}
@media (min-width: 1200px) {
    .img-logo-index {
        width: 120px;
        left: 20%;
    }
    .section1 {
        padding-top: 17%;
    }
}

@media (max-width: 767px) and (orientation:portrait) {
    .section1 {
        padding-top: 17vh;
    }
    .section3 {
        padding-top: 25vh;
    }
}
@media (max-width: 767px) and (orientation:landscape) {
    .section1 {
        padding-top: 14vh;
    }
    .section3 {
        padding-top: 28vh;
        height: 100vh !important;
    }
}

.section1, .section2, .section3, footer {
    color: white;
}

.section1, .section2 {
    min-height: 100vh;
    z-index: 1;
    position: relative;
}
.section1 {
    background: url('../images/init-section1.jpg') no-repeat;
    background-position: right center;
    background-size: cover;
}
.section2 {
    background: url('../images/init-section2.jpg') no-repeat;
    background-position: left center;
    background-size: cover;
}
.section3 {
    background: url('../images/init-section3.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80vh;
    z-index: 1;
    position: relative;
}
footer {
    background-color: black;
    padding-top: 14px;
    position: relative;
}

footer img {
    width: 32px;
}
footer a {
    color: white !important;
    padding: 6px 0px !important;
}
footer hr {
    margin: 5px auto !important;
}
footer p:last-of-type {
    margin-top: 10px;
}

.section1 h1, .section2 h1 {
    font-family: franklin gothic medium;
}

.section1 img {
    width: 67px;
    vertical-align: bottom;
}
.section1 h1 {
    font-style: italic;
}
.section3 img {
    width: 214px;
    position: relative;
}

.form-control {
    background-color: rgba(0,0,0,0.1) !important;
    color: white !important;
}

input::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: white !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: white !important;
}

input::-moz-placeholder { /* Firefox 19+ */
  color: white !important;
}

input:-ms-input-placeholder { /* IE 10+ */
  color: white !important;
}

input::-ms-input-placeholder { /* Edge */
  color: white !important;
}

input:placeholder-shown { /* Standard one last! */
  color: white !important;
}