.start-view {
    background: url('../images/bg-init.jpg') no-repeat;
    background-size: 100% 100%;
    height: 75vh;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control {
    background-color: rgba(0,0,0,0.1) !important;
}

input::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: white !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: white !important;
}

input::-moz-placeholder { /* Firefox 19+ */
  color: white !important;
}

input:-ms-input-placeholder { /* IE 10+ */
  color: white !important;
}

input::-ms-input-placeholder { /* Edge */
  color: white !important;
}

input:placeholder-shown { /* Standard one last! */
  color: white !important;
}