body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline-block;
    cursor: pointer;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/*
 *
 *  CSS for Index
 *
 */

/*
 *
 *  CSS for User panel
 *
 */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
div.loading {
    font-size: x-large;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: white;
    top: 0;
    z-index: 2;
}

.loading.in {
    display: block;
}
.loading.out {
    display: none;
}

.loading > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loading span.glyphicon {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.panel p.text-center {
    cursor: default;
}

.panel-heading + div {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    overflow: auto;
}

.panel-heading + div::-webkit-scrollbar {
    display: none;
}

.panel-heading .panel-agregar {
    padding: 10px 15px;
    position: absolute;
    top: -10px;
    right: -16px;
    text-decoration: none !important;
    border-left: 1px solid #ddd;
}

.panel-heading .panel-agregar:hover {
    background-color: rgba(0, 0, 0, 0.12);
}
.panel-heading h4 {
    position: relative;
}

.relative {
    position: relative;
    margin: 0 !important;
    border: none !important;
    border-radius: none !important;
}

.relative dl {
    padding: 13px 0 20px 20px;
    margin: 0 !important;
}

.relative .btn-top-right {
    position: absolute;
    top: 13px;
    right: 12px;
    z-index: 2;
}

.relative .btn-top-right .btn:not(.relative .btn-group-vertical .btn) {
    width: 100%;
    margin-bottom: 6px;
}

input[type=checkbox].hidden:checked + div.relative, input[type=checkbox].hidden:checked + div.slide-item {
    background-color: dodgerblue !important;
}

a[data-toggle=modal].list-group-item {
    background-color: inherit !important;
}
/*
*
*   CSS for Navigation bar
*
*/
.navbar-default .img-logo {
    height: 70px;
    width: auto;
    margin: 6px 0px;
}
.top-menu {
    position: relative;
}
.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-menu ul li {
    display: inline-block;
}

.top-menu ul li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ghost-center li {
  position: relative;
}
.ghost-center li::before {
  content: " " !important;
  display: inline-block !important;
  height: 100% !important;
  width: 1% !important;
  vertical-align: middle !important;
}
.ghost-center a {
  display: inline-block !important;
  vertical-align: middle !important;
}

.navbar-default {
    color: white !important;
    background-color: black !important;
}

.navbar-default a, .navbar-default a:hover {
    color: white !important;
}

#myNavbar ul.dropdown-menu, #myNavbar div#sesion {
    padding: 15px 30px 0px;
}

@media(min-width:768px) {
    #myNavbar ul.dropdown-menu {
        width: 250%;
    }
}
/*
 *
 *  CSS for slide show
 *
 */
.btn-close, .left-slide, .right-slide {
    color: #59656c !important;
    font-size: 2.2em !important;
    cursor: pointer !important;
    z-index: 2 !important;
}
.btn-close {
    padding: 0.5em 1em !important;
}
.left-slide, .right-slide {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.slide-show {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.slide-show::-webkit-scrollbar, .slide-item::-webkit-scrollbar  {
    display: none;
}
.left-slide {
    padding: 29px !important;
    left: 0 !important;
}
.right-slide {
    padding: 29px !important;
    right: 0 !important;
}

.slide-item {
    float: left;
    background-color: white;
}
.slide-item.load {
    position: relative;
    font-size: 30px;
}
.slide-item.load > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
    .slide-item {
        width: 100vw;
        height: 100vh;
    }
}
@media (min-width: 768px) {
    .slide-item {
        height: 500px;
        width: 500px;
        padding: 50px;
    }
    
    .slide-item .media {
        height: 400px;
        overflow: auto;
    }
}

/*
 *
 *  CSS for Forms
 *
 */
.errorMessage {
    margin-bottom: 7px;
}

.required label {
    margin-left: 30px;
}

.required a, .required a:hover {
    color: red;
    text-decoration: none;
}

.has-feedback label~.form-control-feedback {
    top: 22px !important;
}

div.checkbox > span.glyphicon-warning-sign {
    right: initial !important;
    left: -7px !important;
    top: -8px !important;
}

.btn-enviar {
    width: 100%;
    display: inline-block;
    font-weight: bold;
    padding: 7px 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.bttn-red {
    color: white;
    background-color: red;
}

.bttn-largo {
    font-size: x-large;
}

.bttn-normal {
    font-size: normal;
}
