ol.list { 
    counter-reset: item;
}
ol.list li {
    display: block;
}
ol.list li:before {
    content: counters(item, ".") ".- ";
    counter-increment: item;
}
ul.list {
    list-style-type: square;
}
ul.list li:before {
    content: "";
    counter-increment: initial;
}
body {
    text-align: justify !important;
}