.btn-close, .left-slide, .right-slide {
    color: #59656c !important;
    font-size: 2.2em !important;
    cursor: pointer !important;
    z-index: 2 !important;
}
.btn-close {
    padding: 0.5em 1em !important;
}
.left-slide, .right-slide {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.slide-show {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    overflow:auto;
    width:100vw;
}
.slide-show::-webkit-scrollbar, .slide-item::-webkit-scrollbar  {
    display: none;
}
.left-slide {
    padding: 29px !important;
    left: 0 !important;
}
.right-slide {
    padding: 29px !important;
    right: 0 !important;
}

.slide-item {
    float: left;
    background-color: white;
}
.slide-item.load {
    position: relative;
    font-size: 30px;
}
.slide-item.load > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
    .slide-item {
        width: 100vw;
        height: 100vh;
    }
}
@media (min-width: 768px) {
    .slide-item {
        height: 500px;
        width: 500px;
        padding: 50px;
    }
    
    .slide-item .media {
        height: 400px;
        overflow: auto;
    }
}